.row-flex
  display: flex
  padding: 5px
  &.align-center
    align-items: center
  &.space-between
    justify-content: space-between
  &.flex-end
    justify-content: flex-end
  .item
    margin-left: 10px
    &:first-child
      margin-left: 0
