.places
  position: relative
  .place-connector-area
    position: relative
    width:15px
    .place-connector
      position: absolute;
      top: 23px;
      bottom: 21px;
      left: 5px;
      width: 1px;
      background-color: #C6C6C6
      &:before, &:after
        content: '';
        position: absolute;
        left: -2px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      &:before
        bottom: -1.5px;
        background-color: $GREEN;
        border: 1px solid $GREEN;
      &:after
        top: -3.5px;
        background-color: $GREEN;
        border: 1px solid $GREEN;
